/* Global Styles */
*,html,body {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    
}

body {
    
	width: 70%;
	margin-left: 15%;
	text-align: center;
    height: 100vh;
    background-image: url("img/backg.jpg"), 
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%),
        linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-blend-mode: multiply;
}
p {
    color: antiquewhite;
    padding: 15px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
hr{
    border: none;
    height: 1px;
    background-color: greenyellow;
    width:70%;
    margin-left: 15%;
}
/* Headers*/
h1 {
    padding-top: 70px;
    padding-bottom: 25px;
    font-size: 40px;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
    color:yellowgreen;
    font-size: 25px;
}

/*id, input, class and img*/
div {
    text-align: center;
    margin-bottom: 20px;
}

.gif {
	display:inline-block;
	height: 200px;
    text-align: center;
}

.gif img {
	width: 100%;
}

input{
    margin-bottom: 20px;
    height: 30px;
    background-color: floralwhite;
    border: solid cornflowerblue;
    border-radius: 20%;
    text-align: center;
    font-size: 14px;
}